<!DOCTYPE html>

<%- include ('../partials/head'); %>

    <body class="container">

        <%- include ('../partials/header', {pagina: 'sobre' }); %>

            <main>
                <div class="jumbotron">
                    <h1>Sobre mim</h1>
                    <p>
                    <h3>Sou o Guilherme de Curitiba, Fui criado na campanha em rancho de barro e capim
                    </h3>
                    <br>
                    Por isso é que eu canto assim
                    Pra relembrar meu passado
                    <br>
                    Eu me criei arremendado
                    Dormindo pelos galpão
                    Perto de um fogo de chão
                    <br>
                    Com os cabelo enfumaçado
                    Quando rompe a estrela d'alva
                    <br>
                    Aquento a chaleira já quase no clariá o dia
                    Meu pingo de arreio relincha na estrevaria
                    <br>
                    Enquanto uma saracura
                    Vai cantando empoleirada
                    <br>
                    Escuto o grito do sorro
                    E lá do piquete relincha o potro tordilho
                    <br>
                    <strong> Na boca da noite me aparece um zorrilho
                        Vem mijar perto de casa
                        Pra inticá com a cachorrada</strong>
                    </p>
                </div>
            </main>


            <%- include ('../partials/footer'); %>

    </body>


    </html>